body {
    font-family: poppins, sans-serif;
    border-radius: 2rem;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 2.5rem;
}
header > section > h1 {
    font-family: 'PT serif', serif;
    font-size: 2rem;
}
.first-section , .second-section {
    display: flex;
}
figure {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}    
figcaption {
    font-weight: bold;
}
.figure-with-top-margin {
    margin-top: 8rem;
}
img {
    width: 100%;
    height: auto;
}
.vertical-text {
    writing-mode: vertical-lr;
}

/* Mobile Responsive*/

@media screen and (max-width:768px) {
    header {
        display: block;
    }
    header > section > h1 {
        font-size: 2rem;
    }
    .first-section, .second-section {
        flex-wrap: wrap;
    }
    .third-figure , .fourth-figure , .sixth-figure {
        margin-top: 8rem;
    }

}

footer p {
    font-size: 1rem;
    text-align: center;
    color: gray;
}
